{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div class="list_avis_1">
    <h3>{{"Par année"}}</h3>
    <div{{ attributes.addClass(classes) }}>
        {{ title_prefix }}
        {% if label %}
            <h2{{ title_attributes }}>{{ label }}</h2>
        {% endif %}
        {{ title_suffix }}
        {% block content %}
            {{ content }}
        {% endblock %}
    </div>{# empty Twig template #}
</div>
<div class="list_avis_2">
    <h3>{{"Par sujet"}}</h3>
</div>
