<article>
    {{ content.field_date_de_publication }}
    {{ title_prefix }}
    {% if not page %}
        <h5{{ title_attributes }}>
            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h5>
    {% endif %}
    {{ title_suffix }}
    {{ content.field_video_intervention }}
</article>

