<div class="actuality">
    <div class="test">
        {{ content.field_date_de_publication }}
        {{ title_prefix }}
        {% if not page %}
            <h2{{ title_attributes }}>
                <a href="{{ url }}" rel="bookmark">{{ label }}</a>
            </h2>
        {% endif %}
        {{ title_suffix }}
        {{ content.field_texte_avis }}
    </div>
</div>